DATABASE_URL=postgresql://neondb_owner:npg_qIFwaiCRrz07@ep-steep-cake-b3d580dq-pooler.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
ACCESS_TOKEN_SECRET="change_me_access_secret"
REFRESH_TOKEN_SECRET="change_me_refresh_secret"
ACCESS_TOKEN_EXPIRES_IN="15m"
REFRESH_TOKEN_EXPIRES_IN="7d"
PORT=4000
CLIENT_ORIGIN="http://localhost:5173"
NODE_ENV="development"
